In [28]:
import sqlalchemy
%reload_ext sql
%sql sqlite://

In [31]:
%sql

 * sqlite://

In [32]:
%%sql

CREATE TABLE EMPLOYEE(firstname varchar(50),lastname varchar(50));  
INSERT INTO EMPLOYEE VALUES('Tom','Mitchell');  
INSERT INTO EMPLOYEE VALUES('Jack','Ryan');

 * sqlite://
(sqlite3.OperationalError) table EMPLOYEE already exists
[SQL: CREATE TABLE EMPLOYEE(firstname varchar(50),lastname varchar(50));]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [33]:
%sql select * from EMPLOYEE

 * sqlite://
Done.

[('Tom', 'Mitchell'), ('Jack', 'Ryan')]

# Fazendos as tabelas

In [34]:
%%sql
DROP TABLE IF EXISTS Estado;
DROP TABLE IF EXISTS CovidCases;
DROP TABLE IF EXISTS Regi√£o;
DROP TABLE IF EXISTS DadosEstado;


create table Estado(code tinyint NOT NULL,nome varchar(20) NOT NULL,sigla varchar(2) NOT NULL,PRIMARY KEY (code));

 * sqlite://
Done.
Done.
Done.
Done.
Done.

[]

In [38]:
%%sql
BULK INSERT

 * sqlite://
(sqlite3.OperationalError) near "BULK": syntax error
[SQL: BULK INSERT]
(Background on this error at: https://sqlalche.me/e/14/e3q8)